token = "" # Discord bot token
join_leave_channel = 0000000000000000000 # Used for join, leave and invite creation messages
deleted_msg_channel = 0000000000000000000 # Used for message delete, message edits and bulk message delete
audit_log_channel = 0000000000000000000 # Used for everything else

edited_msg_distance = 10  # Minimum levenshtein distance between the old and new message. Anything below this won't get logged in the channel above

# Options to reduce clutter, only apply to bulk message deletes
bulk_delete_min_length = 5 # Messages below this length won't be shown at all
bulk_delete_max_length = 100 # Messages above this will be truncated with elipses...

# max size of an attachement that will be reuploaded, in bytes
max_upload_size = 6000000 # 6 MB

# Delete old messages periodically for storage and for GDPR reasons
# Set any of these to 0 to disable
purge_interval_hours = 12 # Interval in hours when to execute purges. 
purge_retention_days = 30 # How long to keep message data in the database for